### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [116]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
HOP_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
HOP_data_df = pd.read_csv(HOP_data)
HOP_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [117]:
player_counts_df = HOP_data_df["SN"].nunique()
player_counts_df

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [118]:
unique_pur = len(HOP_data_df["Item Name"].unique())
ave_pri = HOP_data_df["Price"].mean()
num_pur = HOP_data_df["Item Name"].count()
tot_rev = HOP_data_df["Price"].sum()
pur_anal_df = pd.DataFrame({"Number of Unique Items": [unique_pur],
                            "Average Price": ave_pri,
                            "Number of Purchases": num_pur,
                            "Total Revenue": tot_rev})
pur_anal_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [130]:
gender_grps_df = HOP_data_df.groupby("Gender")
pur_dta = HOP_data_df.drop_duplicates(["SN"])
gender_grps_df.count().head(3)
gen_tot_df = gender_grps_df.nunique()["SN"]
gen_tot_df
perc_gen_df = (gen_tot_df / player_counts_df)
perc_gen_df
gen_dmo_df = pd.DataFrame({"Total Count": gen_tot_df, "Percentage of Players": perc_gen_df})
gen_dmo_df.index.name = None
gen_dmo_df = gen_dmo_df.sort_values(["Total Count"], ascending=False)
gen_dmo_df.style.format({
    'Percentage of Players': '{:,.2%}'.format,
})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [133]:
tot_gen_pur=HOP_data_df.groupby(["Gender"]).count()["Purchase ID"]
avg_pur_pr=round(HOP_data_df.groupby(["Gender"]).mean()["Price"],2)
tot_pur_val=round(HOP_data_df.groupby(["Gender"]).sum()["Price"],2)
avg_tot_per= round(tot_pur_val / pur_dta.groupby(["Gender"]).count()["Purchase ID"],2)
sum_gen_pur_df=pd.DataFrame({"Purchase Count": tot_gen_pur, "Average Purchase Price": avg_pur_pr, 
                             "Total Purchase Value": tot_pur_val, "Avg Total Purchase per Person":avg_tot_per})
sum_gen_pur_df.style.format({
    'Average Purchase Price':'${:.2f}'.format, 'Total Purchase Price':'${:.2f}'.format, 
    'Avg Total Purchase per Person':'${:.2f}'.format,
})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame