### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [196]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
HOP_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
HOP_data_df = pd.read_csv(HOP_data)
HOP_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [197]:
player_counts = HOP_data_df["SN"].nunique()
player_counts

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [207]:
unique_pur = len(HOP_data_df["Item Name"].unique())
ave_pri = HOP_data_df["Price"].mean()
num_pur = HOP_data_df["Item Name"].count()
tot_rev = HOP_data_df["Price"].sum()
pur_anal_df = pd.DataFrame({"Number of Unique Items": [unique_pur],
                            "Average Price":["$"+str(round(ave_pri,2))],
                            "Number of Purchases": num_pur,
                            "Total Revenue": ["$" +'{0:,.2f}'.format(tot_rev)]})
pur_anal_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [199]:
gender_grps_df = HOP_data_df.groupby("Gender")
pur_dta = HOP_data_df.drop_duplicates(["SN"])
gender_grps_df.count().head(3)
gen_tot_df = gender_grps_df.nunique()["SN"]
gen_tot_df
perc_gen_df = (gen_tot_df / player_counts)
perc_gen_df
gen_dmo_df = pd.DataFrame({"Total Count": gen_tot_df, "Percentage of Players": perc_gen_df})
gen_dmo_df.index.name = None
gen_dmo_df = gen_dmo_df.sort_values(["Total Count"], ascending=False)
gen_dmo_df.style.format({
    'Percentage of Players': '{:,.2%}'.format,
})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [200]:
tot_gen_pur=HOP_data_df.groupby(["Gender"]).count()["Purchase ID"]
avg_pur_pr=round(HOP_data_df.groupby(["Gender"]).mean()["Price"],2)
tot_pur_val=round(HOP_data_df.groupby(["Gender"]).sum()["Price"],2)
avg_tot_per= round(tot_pur_val / pur_dta.groupby(["Gender"]).count()["Purchase ID"],2)
sum_gen_pur_df=pd.DataFrame({"Purchase Count": tot_gen_pur, "Average Purchase Price": avg_pur_pr, 
                             "Total Purchase Value": tot_pur_val, "Avg Total Purchase per Person":avg_tot_per})
sum_gen_pur_df.style.format({
    'Average Purchase Price':'${:.2f}'.format, 'Total Purchase Value':'${:.2f}'.format, 
    'Avg Total Purchase per Person':'${:.2f}'.format,
})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [213]:
age_grps = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999.99]
grps = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd.cut(HOP_data_df["Age"], age_grps, labels=grps)
HOP_data_df["Age Ranges"] = pd.cut(HOP_data_df["Age"],age_grps, labels=grps,)
age_tot=pur_dta["Age Ranges"].value_counts()
per_play=age_tot/player_counts *100
age_demo= pd.DataFrame({"Total Count": age_tot, "Percentage of Players": per_play})
age_demo=age_demo.round(2)
age_demo.sort_index()

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [216]:
HOP_data_df["Age Ranges"]=pd.cut(HOP_data_df["Age"],age_grps,labels=grps)
avg_price=HOP_data_df.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
tot_val=HOP_data_df.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
purs_cnt=HOP_data_df.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")
norm_tot=tot_val/age_demo["Total Count"]
pur_anal_age_df=pd.DataFrame({"Purchase Count": purs_cnt, "Average Purchase Price":avg_price, "Total Purchase Value":
                           tot_val, "Avg Total Purchase per Person":norm_tot})
pur_anal_age_df.style.format({
    'Average Purchase Price':'${:.2f}'.format, 'Total Purchase Value':'${:.2f}'.format, 
    'Avg Total Purchase per Person':'${:.2f}'.format,
})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [220]:
user_pur = HOP_data_df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
ave_pri_pur=HOP_data_df.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_cnt=HOP_data_df.groupby(["SN"]).count()["Price"].rename("Purchase Count")
user_info_df=pd.DataFrame({"Purchase Count": user_cnt, "Average Purchase Price": ave_pri_pur,
                           "Total Purchase Value":user_pur})
sum_user_info_df=user_info_df.sort_values("Total Purchase Value", ascending=False).head(5)
sum_user_info_df.style.format({
    'Average Purchase Price':'${:.2f}'.format,'Total Purchase Value':'${:.2f}'.format,})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [224]:
items_pur=HOP_data_df.loc[:,["Item ID", "Item Name", "Price"]]
tot_it_val=items_pur.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
it_pri=items_pur.groupby(["Item ID", "Item Name"]).mean()["Price"]
purch_cnt=items_pur.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
pop_it_df=pd.DataFrame({"Total Purchase Value": tot_it_val, "Item Price":it_pri, "Purchase Count": purch_cnt})
pop_it_df=pop_it_df.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]
most_pop_it_df=pop_it_df.sort_values("Purchase Count", ascending=False).head(5)
most_pop_it_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame