### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [31]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
HOP_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
HOP_data_df = pd.read_csv(HOP_data)
HOP_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [35]:
player_counts = HOP_data_df["SN"].value_counts()
player_counts
player_counts_df = pd.DataFrame(player_counts)
print(len(player_counts_df))

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
items_purchased_df= HOP_data_df[["Item Name","Price"]]
unique_items_df = items_purchased_df.groupby(['Item Name'])
unique_items_df.describe()

                                Price                                        \
                                count  mean           std   min   25%   50%
Item Name
Abyssal Shard                     5.0  2.67  0.000000e+00  2.67  2.67  2.67
Aetherius, Boon of the Blessed    5.0  3.39  4.965068e-16  3.39  3.39  3.39
Agatha                            6.0  3.08  0.000000e+00  3.08  3.08  3.08
Alpha                             3.0  2.07  0.000000e+00  2.07  2.07  2.07
Alpha, Oath of Zeal               3.0  4.05  0.000000e+00  4.05  4.05  4.05
...                               ...   ...           ...   ...   ...   ...
Wolf                              8.0  3.54  4.747513e-16  3.54  3.54  3.54
Wolf, Promise of the Moonwalker   6.0  4.48  0.000000e+00  4.48  4.48  4.48
Worldbreaker                      4.0  2.60  0.000000e+00  2.60  2.60  2.60
Yearning Crusher                  3.0  4.18  0.000000e+00  4.18  4.18  4.18
Yearning Mageblade                5.0  3.82  4.965068e-16  3.82  3.82  3.82


                                  75%   max
Item Name
Abyssal Shard                    2.67  2.67
Aetherius, Boon of the Blessed   3.39  3.39
Agatha                           3.08  3.08
Alpha                            2.07  2.07
Alpha, Oath of Zeal              4.05  4.05
...                               ...   ...
Wolf                             3.54  3.54
Wolf, Promise of the Moonwalker  4.48  4.48
Worldbreaker                     2.60  2.60
Yearning Crusher                 4.18  4.18
Yearning Mageblade               3.82  3.82

[179 rows x 8 columns]

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame